<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /love/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /love/index.php [L]
</IfModule>
