.ui-tabs { 
	zoom: 1; 
}
.ui-tabs .ui-tabs-nav { 
	margin:10px auto;
	list-style: none; 
	position: relative; 
	padding: 2px 2px 0; 
	overflow: hidden; 
	top: 1px; 
	z-index: 1000; 
	height: 25px; 
	width:150px;
}
.ui-tabs .ui-tabs-nav li { 
	position: relative; 
	float: left; 
	border-bottom-width: 0 !important; 
	margin: 0 2px -1px 0; 
}
.ui-tabs .ui-tabs-nav li a { 
	color:#444; 
    float: left;
    font-size: 40px;
    padding: 5px 5px;
    text-decoration: none; 
}
.ui-tabs-selected a 	{ 
	color: white!important; 
}

.ui-tabs .ui-tabs-panel 	{ 
	display: block; 
	border-width: 0; 
	background: none; 
	z-index:1000;
	border: 1px solid #ccc; 
	position: relative; 
	min-height: 200px; 
	height: auto !important; 
	height: 200px; 
}
.ui-tabs .ui-tabs-hide { 
	display: none !important; 
}
a.mover 	{ 
	padding: 6px 12px; 
	position: absolute;
	color: white; 
	font-weight: bold; 
	text-decoration: none; 
}
.next-tab { 
	top: -50px; 
	right: 0; 
}
.prev-tab { 
	top: -50px;
	left: 0; 
 }