#banner img{
	margin-top: -18px;
	display: block;
}
#navigation {
	font-size:90%;
	font-weight:bold;
	line-height:100%;
	margin-bottom:-24px;
	margin-top:5px;
	padding:5px 19px 0.5em 0.5em;
	text-align:right;
	font-size:13px;
}
#navigation a, #navigation a:visited {
  background-color: #eae3c5;
  color: black;
  padding: .5em;
  padding-left: .9em;
  padding-right: .9em;
  margin-right: 5px;
  text-decoration: none;
  display: block;
  width: 70px;
 text-align:center; 
}